.row {
    margin-top: 20px;
}

.col {
    .step {
        text-align: center;
        em {
            display: block;
            border: 2px solid #ccc;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 26px;
            margin: auto;
            -webkit-box-shadow: 1px 2px 1px #666666;
            -moz-box-shadow: 1px 2px 1px #666666;
            box-shadow: 1px 2px 1px #666666;
        }
        i {
            font-size: 14px;
            display: block;
            text-align: center;
        }
        &.active {
            em {
                border: 2px solid red;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
}

.headline {
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 13px;
    }
}

.field {
    label {
        font-size: 11px;
    }
}

.divider {
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
}

#created-tags {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    li {
        list-style: none;
        margin: 0 0 5px 0;
        border-bottom: 1px solid #ccc;
        padding: 0 0 6px;
    }
    span {
        
        color: #999999;
        font-size: 12px;
        background: #c7ffcf;
        margin: 0 2px;
        padding: 1px 2px;
        border-radius: 2px;
        text-shadow: 0 1px 1px #ccc;
        border: 1px solid #ccc;
        cursor:pointer;
        &.remove {
            background: rgb(255, 220, 220)
        }
    }
}
